* {
    margin: 0px;
    padding: 0px; 
}
body {
    background-color: rgb(32, 35, 41);
}

/* desktop - tablet */
@media screen and (max-width: 1024px) {
    .top-section, h1 {
        font-size: 4rem;
        padding-left: 20px;
    }
    .nav-list {
        margin-left: 10%;
    }

}

/* mobile */
@media screen and (max-width:767px) {
.top-section, h1  {
        font-size: 2.6rem;
        padding-left: 10px;
        
    }
   
    .nav-list {
        margin-right: 20%;
        font-size: 100%;
    }
    .inner-section {
       display: flex; 
       flex-direction: column;
    }
    .character-card-l {
        flex-direction: column;
        height: 500px !important;
        width: 100% !important;

    }
    
}

.top-section {
    color: rgb(32, 35, 41);
    font-weight: 900px;
    font-size: 3rem;
    font-family:'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);

}

.bottom-section {
    background-color: rgb(32, 35, 41);
    width: 100%; 
    padding-bottom: 100px;
}

.char-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.character-card {
    width:500px;
    height: 250px;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip; 
    border-radius: 10px;
    margin-bottom: 10px;

}

.content-wrapper {
    display: flex;
    flex: 3 1 0%;
    flex-direction: column; 
    margin-left: 15px;
    width: 100%;
    margin-top: 15px;
    padding-left: 12px;
}

span {
    color: grey;

}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
}

.sub-section {
    padding-bottom: 8px;
}